<ion-view class="camp-ojibwa-bg" view-title="Album">
  <ion-nav-buttons side="left">
    <button class="back-button" ng-click="goDashboard()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="gallery-view">
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="album-image-item">
        <img src="img/banner1.jpg" width="100%">
        <div class="album_details">
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
