  <ion-view view-title="blog">
  <ion-nav-buttons side="left">
    <button class="back-button" ng-click="goToBlog()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="blog-details">
      <div class="row blog-image"><img src="img/blog1.jpg"></div>
      <div class="row blog-status">
        <span class="blog-title text-wrap">Sed ut perspiciatis unde omnis iste natus error sit</span>
      </div>
      <div class="row blog-status">
        <span class="blog-author block full-width">by John Doe</span>
      </div>
      <div class="row blog-status-det">
        <div class="col col-75">
          <span class="text-upper ion-eye blog-review p-r-5"> 30 views</span>
          <span class="text-upper ion-ios-chatbubble blog-review p-r-5"> 35 comments</span>
          <span class="text-upper ion-android-share-alt blog-review"> Share</span>
        </div>
        <div class="col col-25">
          <span class="blog-review right">April 6, 2016</span>
        </div>
      </div>
      <div class="row blog-content">
        <div class="col">
          <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="blog-comment-list">
        <div class="item item-avatar">
          <img src="img/prof1.jpg">
          <h2 class="inline">Venkman</h2><span class="right font-color">5 mins ago</span>
          <p class="text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <button class="btn text-upper replay-btn">Replay</button>
        </div>
        <div class="item item-avatar">
          <img src="img/prof2.jpg">
          <h2 class="inline">Venkman</h2><span class="right font-color">7 mins ago</span>
          <p class="text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <button class="btn text-upper replay-btn">Replay</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
