<ion-view class="camp-ojibwa-bg" view-title="blog">
  <ion-nav-buttons side="left">
    <button class="back-button" ng-click="goDashboard()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list blog-list">
      <a class="item item-thumbnail-left blog-item" ui-sref="blogDetails">
        <img src="img/blog1.jpg">
        <h2 class="text-wrap">At vero eos et eccusamus et just</h2>
        <span class="blog-date">April 6, 2016</span>
        <span class="blog-author block">by John Doe</span>
        <span class="blog-status text-upper ion-eye p-r-10"> 30 views</span>
        <span class="blog-status text-upper ion-ios-chatbubble"> 35 comments</span>
      </a>
      <a class="item item-thumbnail-left blog-item" ui-sref="blogDetails">
        <img src="img/blog2.jpg">
        <h2 class="text-wrap">Chulpa qui officia deserunt molitia anim</h2>
        <span class="blog-date">April 6, 2016</span>
        <span class="blog-author block">by John Doe</span>
        <span class="blog-status text-upper ion-eye p-r-10"> 30 views</span>
        <span class="blog-status text-upper ion-ios-chatbubble"> 35 comments</span>
      </a>
      <a class="item item-thumbnail-left blog-item" ui-sref="blogDetails">
        <img src="img/blog3.jpg">
        <h2 class="text-wrap">Pretty Hate Machine</h2>
        <span class="blog-date">April 6, 2016</span>
        <span class="blog-author block">by John Doe</span>
        <span class="blog-status text-upper ion-eye p-r-10"> 30 views</span>
        <span class="blog-status text-upper ion-ios-chatbubble"> 35 comments</span>
      </a>
    </div>
  </ion-content>
</ion-view>
