<ion-view title="Cart " id="page3">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <button id="cart-button1" class="button button-dark  button-block icon ion-android-settings"></button>
            <button id="cart-button2" class="button button-dark  button-block icon ion-android-apps"></button>
            <button id="cart-button3" class="button button-dark  button-block icon ion-android-archive"></button>
        </div>
        <h4 id="cart-heading1" style="color:#D10000;">Heading</h4>
        <div id="cart-markdown1" style="color:#000000;">
            <p>Welcome to Creator! Thanks so much for signing up.</p>
        </div>
        <h4 id="cart-heading2" style="color:#000000;">Heading</h4>
        <div id="cart-markdown2" style="color:#757575;">
            <p>Creator is a super simple prototyping tool for building real hybrid mobile apps (using Ionic). It takes the pain out of wiring up your app’s architecture and UI from the ground up each time, by letting you visually build your app with drag-and-drop
                mobile components and templates. When you’re ready, you can share your prototypes with colleagues, customers, and collaborators - and even export your prototypes into clean HTML, CSS, and JS (and even native files).</p>
        </div>
    </ion-content>
</ion-view>