<ion-view class="" view-title="Contacts">
  <ion-nav-buttons side="left">
    <button class="back-button" ng-click="goDashboard()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>
    <a class="item item-avatar custom_list" ui-sref="profile">
      <img src="img/prof2.jpg">
      <h2>Venkman</h2>
      <i class="icon ion-chevron-right next_icon"></i>
    </a>

</div>
  </ion-content>
</ion-view>
