<ion-view hide-nav-bar="false">
  <ion-content class="main-content" scroll="false" style="top: 0px;">
    <div class="dashboard-page-banner text-center">
      <!-- <h4 class="text-white text-upper">74 Days 0 hours 33 minutes 7 Seconds until camp</h4> -->
    </div>
    <div class="dashboard-footer text-center text-white text-upper">
      <div class="row camp-btn">
        <div class="col btn1" ui-sref="calendar"><i class="icon ion-ios-calendar-outline"></i><h6 class="text-white">Calender</h6></div>
        <div class="col btn2"><i class="icon ion-ios-bookmarks-outline"></i><h6 class="text-white">Registration</h6></div>
      </div>
      <div class="row camp-btn">
        <div class="col btn3 animated slideInLeft" ui-sref="gallery.photos"><i class="icon ion-ios-camera-outline"></i><h6 class="text-white">videos and photos</h6></div>
        <div class="col btn4 animated slideInRight"><i class="icon ion-ios-albums-outline"></i><h6 class="text-white">History Game</h6></div>
      </div>
      <div class="row camp-btn">
        <div class="col btn5 animated-logo bounceInDown"><i class="icon ion-ios-cart-outline"></i><h6 class="text-white">Shop</h6></div>
        <div class="col btn6 animated-logo bounceInDown" ui-sref="blogs.latest"><i class="icon ion-ios-paper-outline"></i><h6 class="text-white">Blog</h6></div>
      </div>
    </div>
  </ion-content>
</ion-view>
