<ion-view class="" view-title="EDIT PROFILE">

    <ion-nav-buttons side="right">
    <button class="back-button" ng-click="">
      DONE
    </button>
  </ion-nav-buttons>
  <ion-content>
<div class="list">
  <div class="item profile_list">
    <span><i class="ion-ios-email-outline"></i>Email</span>
    <span><input name="" type="text" placeholder="johndoe@email.com" /></span>
  </div>
  <div class="item profile_list">
    <span><i class="ion-ios-location-outline"></i>Address</span>
    <span><input name="" type="text" placeholder="Address"/></span>
  </div>
  <div class="item profile_list">
    <span><i class="ion-ios-locked-outline"></i>Password</span>
    <span><input name="" type="password" placeholder="password"/></span>
  </div>
  <div class="item profile_list">
    <span><i class="ion-ios-locked-outline"></i>Confirm Password</span>
    <span><input name="" type="password" placeholder="Confirm Password"/></span>
  </div>
  <div class="item profile_list">
    <span><i class="ion-ios-person-outline"></i>I am a</span>
    <span><input name="" type="text" placeholder="Camper"/></span>
  </div>							
</div>
    
  </ion-content>
</ion-view>
