<ion-view view-title="{{title}}">
  <ion-content>
    <div class="event-details">
      <div class="row event-image"><img src="img/event.jpg"></div>
      <div class="row event-status">
        <span class="event-title text-wrap">Baseball Competition (Team 1 vs Team 2)</span>
      </div>
      <div class="row event-status">
        <div class="col-40">
            <p class=""><span class="event-author">Time: </span>1pm to 5pm</p>
        </div>
        <div class="col-60">
          <p class=""><span class="event-author">Location: </span>CampOjibwa Ground</p>
        </div>
      </div>
      <div class="row event-content">
        <div class="col">
          <p class=""><span class="event-author">Notes: </span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
