<ion-view class="camp-ojibwa-bg" view-title="Reset Password">
  <ion-content scroll="false">
    <div class="list login-page">
      <div class="forget-pwd-content text-center p-b-10-per">
        <span>Enter your email address below and we'll send instructions on how to reset your password</span>
      </div>
      <label class="item item-input">
      <span><i class="ion-ios-email-outline"></i></span>
        <input type="text" class="form-inputs" placeholder="Email">
      </label>
      <button class="button button-full btn-positive text-upper">
        Send
      </button>
    </div>
  </ion-content>
</ion-view>
