<ion-view hide-nav-bar="true">

  
  <ion-content class="main-content" scroll="false" style="background:url(img/splash_bg.png) no-repeat; background-size:cover;">
  	<div class="logo animated-logo bounceInDown">
    	<img src="img/logo@2x.png" alt="" />
    </div>
  
  </ion-content>
  <div class="home-page-footer">
      <button class="button btn-assertive" ui-sref="login">
        Get Started
      </button>
      <button class="button btn-positive">
        Continue as a guest
      </button>
    </div>
</ion-view>
