<ion-view class="" view-title="MY PROFILE">

    <ion-nav-buttons side="right">
    <button class="back-button" ui-sref="editprofile">
      EDIT
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="back-button" ng-click="goDashboard()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="profile_head">
    	<div class="myprofile">
        	<img src="img/profile.png" />
            <a class="ion-ios-camera camera_profile" href="#"></a>
        </div>
        <h1>John Doe</h1>
        <p>Camper</p>
    </div>

    <div class="list">

  <div class="item profile_list">
    <span><i class="ion-ios-email-outline"></i>Email</span>
    <span>johndoe@email.com</span>
  </div>
  <div class="item profile_list">
    <span><i class="ion-ios-location-outline"></i>Address</span>
    <span>Boston, New York</span>
  </div>
  <div class="item profile_list">
    <span><i class="ion-ios-locked-outline"></i>Password</span>
    <span>***********</span>
  </div>
  <div class="item profile_list">
    <span><i class="ion-ios-person-outline"></i>I am a</span>
    <span>Camper</span>
  </div>



</div>

  </ion-content>
</ion-view>
