<ion-view class="camp-ojibwa-bg" view-title="Sign Up">
  <ion-content class="signup-page">
    <div class="list">
      <!-- <div class="user-image text-center">
        <div class="user-image-circle">
          <i class="icon ion-camera "></i>
        </div>
      </div> -->
      <label class="item item-input item-select">
        <div class="input-label">
            &nbsp;
        </div>
        <select>
            <option selected>I am a...</option>
            <option>Male</option>
            <option>Female</option>
        </select>
    </label>
      <label class="item item-input">
      	<span><i class="ion-ios-person-outline"></i></span>
        <input type="text" class="form-inputs" placeholder="Name">
      </label>
      <label class="item item-input">
      <span><i class="ion-ios-email-outline"></i></span>
        <input type="text" class="form-inputs" placeholder="Email">
      </label>
      <label class="item item-input">
      <span><i class="ion-ios-locked-outline"></i></span>
        <input type="Password" class="form-inputs" placeholder="Password">
      </label>
      <label class="item item-input">
      <span><i class="ion-ios-locked-outline"></i></span>
        <input type="Password" class="form-inputs" placeholder="Confirm password">
      </label>
      <label class="item item-input">
      <span><i class="ion-ios-location-outline"></i></span>
        <input type="text" class="form-inputs" placeholder="Address">
      </label>
      <button class="button button-full btn-positive text-upper">
        Sign Up
      </button>
      <div class="sign-up text-center full-width">
        <span>Already have an account?<a ui-sref="login" class="text-dec-none theme-color">&nbsp;Login</a></span>
        <span class="block m-t-18 font-xs">By singing up you agree to Privacy Policy and Terms of Service</span>
      </div>
    </div>
  </ion-content>
</ion-view>
