<ion-view title="User" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="Select User">
                <span class="input-label">Select</span>
                <select>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                </select>
            </label>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
        </form>
    </ion-content>
</ion-view>