<ion-view class="camp-ojibwa-bg" view-title="Videos">
  <ion-nav-buttons side="left">
    <button class="back-button" ng-click="goDashboard()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="gallery-view">
      <div class="video-image-item">
        <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/></video>
        <div class="video_details">
        <h6>uploaded by John Doe</h6>
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="video-image-item">
        <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/></video>
        <div class="video_details">
        <h6>uploaded by John Doe</h6>
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="video-image-item">
        <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/></video>
        <div class="video_details">
        <h6>uploaded by John Doe</h6>
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>
      <div class="video-image-item">
        <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/></video>
        <div class="video_details">
        	<h6>uploaded by John Doe</h6>
        	<h1>COLLIGIATE WEEK</h1>
            <p><span class="views">100  views - 5 months ago</span><span class="views_album">200 Photos</span></p>
        </div>
      </div>


     </div>
  </ion-content>
</ion-view>
